$main-bright-color: #504B47;
$main-light-color: #FCF7F1;
$main-first-color:#33353b;
$main-title-color:#fff;
$main-btn-color:#EBC6B6;
$btn-text-color: #504B47;
$link-hover-color:#4f4b47;




$breakpoints: ('sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px) !default;
